@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic';
body {
  padding-top: 70px;
  background: #dadada;
}
a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}
.flexible {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.centered {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
}
.visible {
  visibility: visible !important;
}
.opaque {
  opacity: 1 !important;
}
.Nav {
  z-index: 10000;
  height: 70px;
  background: rgba(50,50,50,0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 50px;
}
.Nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.Nav__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #fff;
  height: 70px;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 15px;
}
.Nav__link:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
.Nav__link:hover {
  color: #000;
  text-decoration: none;
  background: #d6c06f;
}
.Nav__link--active {
  background: #d6c06f;
  color: #000;
}
.Nav__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}
.Nav__item--hamburger {
  display: none;
  padding: 23px 20px 0 !important;
  height: 100%;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .Nav {
    padding: 0 0 0 20px;
  }
  .Nav__list {
    padding: 0;
    background: rgba(51,51,51,0.8);
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .Nav__item--hamburger {
    display: block;
  }
  .Nav__link {
    padding: 15px 30px;
  }
}
.Logo {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}
.Logo__middle-letter {
  color: #d6c06f;
}
.Logo:hover,
.Logo:focus {
  color: #fff;
  text-decoration: none;
}
.Search {
  position: relative;
}
.Search__input {
  background: rgba(77,77,77,0.8);
  border: none;
  padding: 10px;
  margin: 0 15px;
  outline: none;
  width: 250px;
  color: #fff;
  font-weight: 100;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .Search__input {
    margin: 0;
  }
}
.Search__input--expanded {
  width: 350px;
  background: rgba(127,127,127,0.8);
}
.Search__button {
  position: absolute;
  right: 30px;
  top: 26px;
}
@media screen and (max-width: 768px) {
  .Search {
    padding: 0;
  }
  .Search__input {
    width: 100%;
    padding: 15px 30px;
  }
  .Search__button {
    top: 19px;
  }
}
.Footer {
  background: #3c3c3c;
  color: #dadada;
  text-align: center;
}
.Footer__heading {
  text-transform: uppercase;
  color: #d6c06f;
}
.Footer__list {
  list-style: none;
  padding: 0 0 0 10px;
}
.Footer__item {
  padding: 5px;
}
.Footer__link {
  font-size: 16px;
  color: #dadada;
}
.Footer__link:hover {
  text-decoration: none;
  color: #fff;
}
.Footer__content:after{
  content: '';
  display: table;
  clear: both;
}
.Footer__content {
  padding: 50px;
}
.Footer__content > div {
  text-align: left;
  width: calc(99.99% * 1/1 - (30px - 30px * 1/1));
}
.Footer__content > div:nth-child(1n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.Footer__content > div:last-child{
  margin-right: 0;
}
.Footer__content > div:nth-child(1n){
  margin-right: 0;
  float: right;
}
.Footer__content > div:nth-child(1n + 1){
  clear: left;
}
@media screen and (min-width: 768px) {
  .Footer__content > div {
    width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
  }
  .Footer__content > div:nth-child(1n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .Footer__content > div:last-child{
    margin-right: 0;
  }
  .Footer__content > div:nth-child(2n){
    margin-right: 0;
    float: right;
  }
  .Footer__content > div:nth-child(2n + 1){
    clear: left;
  }
}
@media screen and (min-width: 1200px) {
  .Footer__content > div {
    width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  }
  .Footer__content > div:nth-child(1n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .Footer__content > div:last-child{
    margin-right: 0;
  }
  .Footer__content > div:nth-child(4n){
    margin-right: 0;
    float: right;
  }
  .Footer__content > div:nth-child(4n + 1){
    clear: left;
  }
}
.Footer p {
  font-size: 16px;
}
.Footer__copyright {
  display: inline-block;
  padding: 5px 10px;
  background: #b30000;
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
  text-transform: uppercase;
}
.Social {
  list-style: none;
  padding: 0;
}
.Social__item {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 2px;
}
.Social__link {
  color: #dadada;
  border-radius: 50%;
  border: 2px solid #dadada;
  font-size: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}
.Social__link:hover {
  background: #fff;
  border-color: #fff;
  color: #000 !important;
}
.Social__link:focus {
  color: #dadada;
  text-decoration: none;
}
.Social__link:hover {
  border-color: #fff;
  color: #fff;
  text-decoration: none;
}
.Subscription {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: #d6c06f;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px 50px;
}
.Subscription__form {
  position: relative;
  display: inline-block;
}
.Subscription__label {
  font-size: 18px;
  color: #000;
}
.Subscription__input {
  height: 45px;
  border: none;
  outline: none;
  background: #fff;
  width: 350px;
  color: #000;
  padding: 0 10px;
  font-size: 22px;
}
.Subscription__button {
  position: absolute;
  font-size: 22px;
  color: #fff;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color: #006322;
}
.Subscription > div {
  padding: 0 20px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .Subscription {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .Subscription__label {
    margin-bottom: 20px;
  }
  .Subscription > div {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
  }
}
.Media {
  background: #fff;
  box-shadow: 0 0 7px 0px #c7c7c7;
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
  margin: 20px 0;
  padding: 20px;
}
.Media:nth-child(1n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.Media:last-child{
  margin-right: 0;
}
.Media:nth-child(2n){
  margin-right: 0;
  float: right;
}
.Media:nth-child(2n + 1){
  clear: left;
}
.Media--gender {
  width: calc(99.99% * 1/2 - (200px - 200px * 1/2));
}
.Media--gender:nth-child(1n){
  float: left;
  margin-right: 200px;
  clear: none;
}
.Media--gender:last-child{
  margin-right: 0;
}
.Media--gender:nth-child(2n){
  margin-right: 0;
  float: right;
}
.Media--gender:nth-child(2n + 1){
  clear: left;
}
.Media--calc {
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
}
.Media--calc:nth-child(1n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.Media--calc:last-child{
  margin-right: 0;
}
.Media--calc:nth-child(3n){
  margin-right: 0;
  float: right;
}
.Media--calc:nth-child(3n + 1){
  clear: left;
}
.Media--workout {
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
  height: 600px;
}
.Media--workout:nth-child(1n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.Media--workout:last-child{
  margin-right: 0;
}
.Media--workout:nth-child(2n){
  margin-right: 0;
  float: right;
}
.Media--workout:nth-child(2n + 1){
  clear: left;
}
@media screen and (max-width: 768px) {
  .Media {
    width: calc(99.99% * 1/1 - (30px - 30px * 1/1));
  }
  .Media:nth-child(1n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .Media:last-child{
    margin-right: 0;
  }
  .Media:nth-child(1n){
    margin-right: 0;
    float: right;
  }
  .Media:nth-child(1n + 1){
    clear: left;
  }
}
.Media * {
  margin: 10px 0;
}
.Media__body {
  font-size: 18px;
}
.Media__picture {
  width: 350px;
}
.Media__picture--program {
  width: 294px;
}
.Media__picture--man {
  width: 145px;
}
.Media__picture--woman {
  width: 190px;
}
.Section {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-height: calc(100vh - 70px);
  padding: 50px;
}
.Section--header {
  min-height: 100vh;
  padding: 70px 0 50px;
}
.Section--dark {
  background: #f7f7f7;
}
.Section__content {
  max-width: 800px;
  margin: 0 20px;
}
.Section__heading {
  color: #474747;
  font-weight: bold;
  text-transform: uppercase;
}
.Section__media {
  margin: 20px;
}
.Section__description {
  font-size: 18px;
}
.Button {
  border: none;
  font-size: 20px;
  color: #fff;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  float: right;
}
.Button--center {
  float: none;
}
.Button:hover {
  color: #fff;
  text-decoration: none;
}
.Button:focus {
  color: #fff;
  text-decoration: none;
}
.Button--modal {
  width: 300px;
  margin: 20px 0 20px;
  height: 50px;
  font-size: 18px;
  display: block;
}
.Button:focus {
  outline: none;
}
.Button--red {
  background: #b30000;
}
.Button--red:hover {
  background: #980000;
}
.Button--pink {
  background: #fb5c97;
}
.Button--pink:hover {
  background: #fa2a77;
}
.Button--blue {
  background: #4e91d6;
}
.Button--blue:hover {
  background: #2f7bca;
}
.Button--yellow {
  background: #d6c06f;
}
.Button--yellow:hover {
  background: #cbaf49;
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 630px;
  z-index: 100001;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.Modal__content:after{
  content: '';
  display: table;
  clear: both;
}
.Modal__content {
  display: block;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: #fff;
}
.Modal__header {
  font-size: 28px;
  margin: 0;
  padding: 20px;
  background: #a52b2b;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.Modal__body {
  padding: 40px;
}
.Modal--visible {
  visibility: visible;
}
.Modal__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 100000;
  opacity: 0;
  background: rgba(0,0,0,0.85);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.Modal__reset-password {
  text-align: center;
  margin-left: 80px;
  display: inline-block;
  color: #000;
}
.Modal--visible .Modal__content {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.Modal--visible + .Modal__overlay {
  opacity: 1;
  visibility: visible;
}
.Input {
  background: #efefef;
  border: none;
  height: 50px;
  display: block;
  width: 300px;
  padding: 10px;
  font-size: 18px;
  font-weight: 100;
}
.Input:focus {
  outline: none;
}
.Label {
  color: #808080;
  font-size: 18px;
  font-weight: 100;
  display: block;
  margin-top: 20px;
}
.Label--inline {
  display: inline;
  margin-right: 30px;
}
.Label--radio {
  font-size: 16px;
}
.Error {
  color: #b30000;
  margin-top: 5px;
  display: block;
  font-size: 16px;
  text-align: right;
}
#ohsnap {
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin: 0;
  z-index: 100001;
}
.alert {
  text-align: right;
  padding: 15px;
  margin: 0 0 5px 0;
  border-radius: 0;
  float: right;
  clear: right;
  color: #fff;
  font-size: 16px;
}
.alert-red {
  background-color: #b30000;
}
.alert-green {
  background-color: #008000;
}
.Block:after{
  content: '';
  display: table;
  clear: both;
}
.Block {
  padding: 50px;
  margin: 50px;
  background: #fff;
  box-shadow: 0 0 7px 2px #c7c7c7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.Block--small {
  margin: 50px auto;
  padding: 0;
  max-width: 700px;
}
.Block__heading {
  color: #000;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 100%;
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
}
.Block__heading--red {
  margin: 0;
  padding: 30px;
  background: #a52b2b;
  color: #fff;
}
.Block__info {
  padding: 50px;
  font-size: 18px;
  -webkit-flex: 5;
  -ms-flex: 5;
      flex: 5;
}
.Block__description {
  font-size: 16px;
  margin-left: 30px;
  -webkit-flex: 5;
  -ms-flex: 5;
      flex: 5;
}
@media screen and (max-width: 768px) {
  .Block {
    margin: 20px;
    padding: 30px;
  }
  .Block--small {
    padding: 0;
  }
  .Block__heading {
    text-align: center;
  }
  .Block__form {
    margin: 0 0 30px 0;
  }
  .Block__info {
    margin: 0;
    -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
  }
}
.Form {
  width: 300px;
  margin-bottom: 30px;
}
.Form--subscription {
  position: relative;
  margin: 0 auto;
}
.Slider {
  height: 100%;
}
.Slider__item {
  height: 100%;
}
.Slider__heading {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.Slider__info {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
  transition: opacity 0.3s ease-in-out;
}
.Slider__info--bottom {
  color: #fff;
  top: auto;
  bottom: 20px;
}
.Slider__info--right {
  color: #fff;
  left: auto;
  right: 20px;
}
.Slider__description {
  font-size: 20px;
}
.bx-wrapper {
  border: none;
}
.bx-viewport {
  height: calc(100vh - 65px) !important;
  height: -o-calc(100vh - 65px) !important;
  height: -moz-calc(100vh - 65px) !important;
}
.bx-wrapper .bx-controls-autoi,
.bx-wrapper .bx-pager {
  bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}
.bx-wrapper {
  margin: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: none;
  border: 2px solid #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #fff;
}
body {
  font-family: 'PT Sans', sans-serif;
}

/*# sourceMappingURL=app.css.map */
