@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic';
.Nav {
  height: 70px;
  background: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 50px;
  color: #fff;
}
.Nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.Nav__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  padding: 0 15px;
  transition: background 0.2s ease-in-out;
}
.Nav__item:not(.Search):hover {
  background: #b30000;
}
.Nav__item--hamburger {
  display: none;
  padding: 23px 20px 0 !important;
  height: 100%;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .Nav {
    padding: 0 0 0 20px;
  }
  .Nav__list {
    padding: 0;
    background: #262626;
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .Nav__item {
    padding: 15px 30px;
  }
  .Nav__item--hamburger {
    display: block;
  }
}
.Logo {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}
.Search {
  position: relative;
}
.Search__input {
  background: #4d4d4d;
  border: none;
  padding: 10px;
  outline: none;
  width: 250px;
  color: #fff;
  font-weight: 100;
}
.Search__button {
  position: absolute;
  right: 30px;
  top: 26px;
}
@media screen and (max-width: 768px) {
  .Search {
    padding: 0;
  }
  .Search__input {
    width: 100%;
    padding: 15px 30px;
  }
  .Search__button {
    top: 19px;
  }
}
.Footer:after{
  content: '';
  display: table;
  clear: both;
}
.Footer {
  background: #000;
  color: #b3b3b3;
  padding: 30px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.Footer__heading {
  text-transform: uppercase;
}
.Footer__list {
  list-style: none;
  padding: 0 0 0 10px;
}
.Footer__item {
  padding: 5px;
}
.Footer__link {
  color: #b3b3b3;
}
.Footer__link:hover {
  text-decoration: none;
  color: #fff;
}
.Footer > div {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
}
.Footer > div:nth-child(1n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.Footer > div:last-child{
  margin-right: 0;
}
.Footer > div:nth-child(4n){
  margin-right: 0;
  float: right;
}
.Footer > div:nth-child(4n + 1){
  clear: left;
}
.Footer__copyright {
  display: inline-block;
  padding: 5px 10px;
  background: #b30000;
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
}
.Social {
  list-style: none;
  padding: 0;
}
.Social__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  margin: 2px;
}
.Social__link {
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
}

/*# sourceMappingURL=app.css.map */
