body
    padding-top: 70px
    background: $lightestGray

.flexible
    display: flex

.darkend
    color: silver

.centered
    justify-content: center
    align-items: center

.visible
    visibility: visible !important

.opaque
    opacity: 1 !important

.highlight
    color: green
    font-weight: bold
