$red = #B30000
$lighterRed = #EA5050
$darkRed = darken($red, 15%)
$darkestRed = darken($red, 30%)

$pink = #FB5C97
$darkPink = darken($pink, 15%)
$darkestPink = darken($pink, 30%)

$blue = #4E91D6
$darkBlue = darken($blue, 15%)
$darkestBlue = darken($blue, 30%)

$yellow = #D6C06F
$darkYellow = darken($yellow, 15%)
$darkestYellow = darken($yellow, 30%)

$gray = #474747
$darkGray = darken($gray, 15%)
$darkestGray = darken($gray, 30%)
$lightestGray = lighten($gray, 50%)

$green = #006322
