$red = #B30000
$darkRed = darken($red, 15%)
$darkestRed = darken($red, 30%)
$gray = lighten(black, 20%)
$darkGray = lighten(black, 15%)
$lightGray = lighten(black, 30%)
$lightestGray = lighten(black, 70%)