$red = #B30000
$darkRed = darken($red, 15%)
$darkestRed = darken($red, 30%)

$pink = #FB5C97
$darkPink = darken($pink, 15%)
$darkestPink = darken($pink, 30%)

$blue = #4E91D6
$darkBlue = darken($blue, 15%)
$darkestBlue = darken($blue, 30%)

$gray = lighten(black, 20%)
$darkGray = lighten(black, 15%)
$lightGray = lighten(black, 30%)
$lightestGray = lighten(black, 70%)
$yellow = #D6C06F
$green = #006322