.Block
    padding: 50px
    clear: fix
    margin: 50px
    background: white
    box-shadow: 0 0 7px 2px #C7C7C7

    &--flex
        display: flex
        flex-wrap: wrap

    &__content
        font-size: 18px

    &__picture
        float: left   
        margin: 0 30px 30px 0

    &--small
        margin: 50px auto
        padding: 0
        max-width: 700px

    &__heading
        color: black 
        margin-bottom: 30px
        flex-basis: 100%

    &__heading--red
        margin: 0
        padding: 30px
        background: $darkerRed 
        color: white

    &__info
        padding: 50px 
        font-size: 18px
        flex: 5

    &__description
        font-size: 20px
        margin-left: 50px
        line-height: 1.5
        flex: 5

    @media screen and (max-width: 768px)
        margin: 20px
        padding: 30px
        &--small
            padding: 0
        &__heading
            text-align: center
        &__form
            margin: 0 0 30px 0
        &__info
            margin: 0
            flex-basis: 100%
