.Button
    border: none
    font-size: 24px
    color: white
    transition: background 0.1s ease-in-out
    cursor: pointer
    padding: 10px
    display: inline-block
    float: right
    //margin-top: 20px
    min-width: 150px
    min-height: 70px
    width: 100%
    padding-top: 20px

    &--center
        float: none 

    &:hover
        color: white
        text-decoration: none

    &:focus
        color: white
        text-decoration: none

    &--modal
        width: 300px 
        margin: 20px 0 20px
        height: 50px
        font-size: 18px
        display: block
    
    &:focus
        outline: none

    &--red
        background: $red
        &:hover
            background: $darkRed
        
    &--pink
        background: $pink
        &:hover
            background: $darkPink
    
    &--blue
        background: $blue
        &:hover
            background: $darkBlue
    
    &--yellow
        background: #b30000
        &:hover
            background: #980000
