.Button
    border: none
    font-size: 20px
    color: white
    transition: background 0.1s ease-in-out
    cursor: pointer
    padding: 10px
    display: inline-block

    &:hover
        color: white
        text-decoration: none

    &:focus
        color: white
        text-decoration: none

    &--modal
        width: 320px 
        margin: 40px 0 20px
        height: 50px
        font-size: 18px
        display: block
    
    &:focus
        outline: none

    &--red
        background: $red
        &:hover
            background: $darkRed
        
    &--pink
        background: $pink
        &:hover
            background: $darkPink
    
    &--blue
        background: $blue
        &:hover
            background: $darkBlue
    
    &--yellow
        background: $yellow
        &:hover
            background: $darkYellow
