.Footer
    background-image: url('../img/mainbg.png')
    // position: absolute
    // left: 0
    // bottom: 0
    color: $lightestGray
    text-align: center

    &__heading
        text-transform: uppercase
        color: $yellow

    &__list
        list-style: none
        padding: 0 0 0 10px
    
    &__item
        padding: 5px
    
    &__link
        font-size: 16px
        color: $lightestGray
        &:hover
            text-decoration: none
            color: white
    
    &__content
        
        padding: 10px
        clear: fix
        > div
            text-align: left
            lost-column: 1/1
            @media screen and (min-width: 768px)
                lost-column: 1/2
            @media screen and (min-width: 1200px)
                lost-column: 1/4

    p
        font-size: 14px

    &__copyright
        display: inline-block
        padding: 5px 10px
        //background: #3A5795
        color: #D9B573
        margin-left: 80px
        font-weight: bold
        font-size: 16px
        margin-left: 55px
        margin-top: 10px
        text-transform: uppercase
