.Footer
    background: black
    height: 500px
    color: white
    padding: 30px 50px
    
    &__heading
        text-transform: uppercase

    &__list
        list-style: none
        padding: 0 0 0 10px
    
    &__item
        padding: 5px
    
    > div
        lost-column: 1/4
        // text-align: center
        // border: 1px solid red
    
    &__copyright
        display: inline-block
        padding: 5px 10px
        background: $red
        color: white
        font-size: 22px