.Input
    background: rgba(220,12,12,1) //#E2E2E2//#EFEFEF 
    border: none 
    height: 50px
    display: block
    width: 300px 
    padding: 10px
    font-size: 18px
    font-weight: 100
    color: #FFF

    &:focus
        outline: none
