.Input
    background: #EFEFEF 
    border: none 
    height: 50px
    display: block
    width: 320px 
    padding: 10px
    margin-bottom: 20px
    font-size: 18px
    font-weight: 100

    &:focus
        outline: none
