.Input
    background: #EFEFEF 
    border: none 
    height: 50px
    display: block
    width: 300px 
    padding: 10px
    font-size: 18px
    font-weight: 100
    color: black

    &:focus
        outline: none
