.Logo
    color: white
    font-size: 48px
    font-weight: bold
    
    &__middle-letter
        color: $yellow

    &__last-letter
        color: $lighterRed

    &:hover,
    &:focus
        color: white
        text-decoration: none
