.Media
    background: white
    box-shadow: 0 0 7px 0px #C7C7C7 
    lost-column: 1/2
    margin: 20px 0
    padding: 20px
    font-size: 20px
    
    &--gender
        lost-column: 1/2 2 200px
    
    &--calc
        lost-column: 1/3

    &--workout
        lost-column: 1/3
        height: 575px

    &--diet
        lost-column: 1/4

    @media screen and (max-width: 1200px)
        lost-column: 1/3

    @media screen and (max-width: 994px)
        lost-column: 1/2
        
    @media screen and (max-width: 768px)
        lost-column: 1/1

    *
        margin: 10px 0

    &__body
        font-size: 18px

    &__picture
        width: 350px
        
        &--program
            width: 294px
        
        &--man
            width: 145px
        
        &--woman
            width: 190px
