.Media
    lost-column: 1/2
    @media screen and (max-width: 768px)
        lost-column: 1/1

    *
        margin: 10px 0

    &__body
        font-size: 18px

    &__picture
        width: 350px
        
        &--program
            width: 294px