.Media
    lost-column: 1/2
    
    &--gender
        lost-column: 1/2 2 200px
    
    @media screen and (max-width: 768px)
        lost-column: 1/1

    *
        margin: 10px 0

    &__body
        font-size: 18px

    &__picture
        width: 350px
        
        &--program
            width: 294px
        
        &--man
            width: 145px
        
        &--woman
            width: 190px