.Section
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    min-height: calc(100vh - 70px)
    padding: 50px
    
    &--header
        min-height: 100vh
        padding: 70px 0 50px

    &--dark
        background: #F7F7F7

    &__content
        max-width: 800px
        margin: 0 20px

    &__heading
        color: $gray
        font-weight: bold
        text-transform: uppercase
    
    &__media
        margin: 20px
    
    &__description
        font-size: 18px
