.Section
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    min-height: calc(100vh - 70px)
    padding: 50px

    &--header
        min-height: 100vh
        padding: 70px 0 50px

    &--dark
        background: #F7F7F7

    &__content
        max-width: 800px
        margin: 0 20px

    &__heading
        color: $gray
        font-weight: bold
        text-transform: uppercase
    
    &__media
        margin: 20px
    
    &__description
        font-size: 18px

.sectio
    background: white
    display: flex
    justify-content: center
    align-items: center
    padding-right: 50px
    height: 500px

    &--parallax
        background: transparent

    &--red
        padding-left: 50px
        color: white
        background: $darkestRed

    &--gray
        color: black 
        background: $lightestGray
        

    &__picture
        background-image: url(../img/people.jpg)
        background-repeat: no-repeat
        background-size: contain
        background-position: center bottom
        display: inline-block
        flex: 3 
        height: 500px

        &--food
            flex-basis: 15%
            background: url(../img/food2.png)
            background-repeat: no-repeat
            background-size: contain
            background-position: center center
        
        &--program
            flex-basis: 15%
            background: url(../img/program2.png)
            background-repeat: no-repeat
            background-size: contain
            background-position: bottom center
    &__content
        font-size: 18px
        flex: 4 
