.Select
    border: none  
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    appearance:none;
    background: #efefef url(img/select-arrow.png) no-repeat 90% center;
    width: 100px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
    color: black;
    padding: 5px;
    border-radius: 0
    cursor: pointer
    height: 50px
    width: 100%
    font-size: 18px


    &:focus
        outline: none
