.Slider
    color: white
    height: 100%

    &__item
        height: 100%

    &__heading
        text-transform: uppercase
        font-weight: bold
        letter-spacing: 2px

    &__info
        position: absolute
        top: 20px
        left: 20px
        width: 400px
        transition: opacity 0.3s ease-in-out

        &--bottom
            color: white
            top: auto
            bottom: 20px

        &--right
            color: white
            left: auto
            right: 20px

    &__description
        font-size: 20px
    
