.Slider
    height: 100%

    &__item
        height: 100%

    &__heading
        text-transform: uppercase
        font-weight: bold
        letter-spacing: 2px
        color: white

    &__info
        position: absolute
        top: 20px
        left: 20px
        color: white
        width: 400px

        &--bottom
            top: auto
            bottom: 0

        &--right
            left: auto
            right: 0

    &__button
        color: white

    &__description
        font-size: 20px
        color: white
    
