.Social
    list-style: none
    padding: 0
    &__item
        width: 50px
        height: 50px
        display: inline-block
        margin: 2px

    &__link
        color: $lightestGray
        border-radius: 50%
        border: 2px solid $lightestGray
        font-size: 20px
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        
        &:hover
            background: white
            border-color: white
            color: black !important

        &:focus
            color: $lightestGray
            text-decoration: none
        
        &:hover
            border-color: white
            color: white
            text-decoration: none // make general styles for tag 'a'