.Social
    list-style: none
    padding: 0

    &__item
        width: 50px
        height: 50px
        display: inline-block
        margin: 2px

    &__link
        color: $lightestGray
        border-radius: 50%
        border: 2px solid $lightestGray
        font-size: 20px
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        
        &.vk
            color: #4984B1
            border-color: #4984B1
            &:hover 
                color: white
                border-color: white
        &.facebook
            color: #3A5795
            border-color: #3A5795
            &:hover 
                color: white
                border-color: white

        &.twitter
            color: #1898f2
            border-color: #1898f2
            &:hover 
                color: white
                border-color: white

        &.instagram
            color: #D9B573
            border-color: #D9B573
            &:hover 
                color: white
                border-color: white

        &.youtube
            color: #E02A3D //#cc181e
            border-color: #E02A3D
            &:hover 
                color: white
                border-color: white
            
        &:focus
            color: $lightestGray
            text-decoration: none

        

a,
a:hover
    color: #23527c
    text-decoration: none