// utils
@import 'utils/vars'
@import 'utils/fonts'
@import 'utils/general'

// components
@import 'components/Nav'
@import 'components/Logo'
@import 'components/Search'
@import 'components/Footer'
@import 'components/Social'
@import 'components/Subscription'
@import 'components/Media'
@import 'components/Section'
@import 'components/Button'
@import 'components/Modal'
@import 'components/Input'
@import 'components/Textarea'
@import 'components/Label'
@import 'components/Error'
@import 'components/Alert'
@import 'components/Block'
@import 'components/Form'
@import 'components/Slider'
@import 'components/Question'
@import 'components/Select'
@import 'components/Breadcrumb'

// vendor
@import 'vendor/bxslider'

// layout
@import 'layout'


.diet__list li {
    lost-column: 1/4 
}







